
.client-container img{
    width:100px;
    height: 100px;
    object-fit: cover;
}

.client-elements{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}
.container-column{
    position: relative;
}
@media screen and (max-width:992px) {
    .container-column{
        margin-top: 35px;
        border-top: 1px solid gray;

    }
    .client-elements{
        position: unset;
        
        width: 100%;
    }
}
